force-app/main/default/flows/Tracey_Set_Account_Settings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Bool_To_True</name>
        <label>Set Bool To True</label>
        <locationX>435</locationX>
        <locationY>55</locationY>
        <assignmentItems>
            <assignToReference>settingvalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Setting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Text</name>
        <label>Set Error Text</label>
        <locationX>454</locationX>
        <locationY>994</locationY>
        <assignmentItems>
            <assignToReference>ErrorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Account_Or_Lead1</name>
        <label>Account Or Lead</label>
        <locationX>41</locationX>
        <locationY>470</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account</defaultConnectorLabel>
        <rules>
            <name>Lead1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Notifications</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_or_Lead2</name>
        <label>Account or Lead</label>
        <locationX>445</locationX>
        <locationY>483</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Set_Temperature</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account</defaultConnectorLabel>
        <rules>
            <name>Lead2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Set_Temp_Start</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_or_Lead3</name>
        <label>Account or Lead</label>
        <locationX>888</locationX>
        <locationY>298</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Clear_Temp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account</defaultConnectorLabel>
        <rules>
            <name>Lead3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Clear_Start</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Setting_True_or_False</name>
        <label>Is Setting True or False?</label>
        <locationX>504</locationX>
        <locationY>240</locationY>
        <defaultConnector>
            <targetReference>Account_or_Lead3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>settingvalue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_or_Lead2</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_String_Setting_Val_True</name>
        <label>Is String Setting Val True?</label>
        <locationX>184</locationX>
        <locationY>66</locationY>
        <defaultConnector>
            <targetReference>What_Setting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>String_Set_to_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SettingValString</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Bool_To_True</targetReference>
            </connector>
            <label>String Set to True</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Setting</name>
        <label>What Setting</label>
        <locationX>283</locationX>
        <locationY>238</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notifications</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>setting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>notifications</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Or_Lead1</targetReference>
            </connector>
            <label>Notifications</label>
        </rules>
        <rules>
            <name>Virtual_Temp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>setting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>temperature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Setting_True_or_False</targetReference>
            </connector>
            <label>Virtual Temp</label>
        </rules>
    </decisions>
    <interviewLabel>Tracey - Set Account Settings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tracey - Set Account Settings</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account Set Notifications</label>
        <locationX>50</locationX>
        <locationY>737</locationY>
        <faultConnector>
            <targetReference>Set_Error_Text</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tracey_Bot_Enabled__c</field>
            <value>
                <elementReference>settingvalue</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Clear_Temp</name>
        <label>Update Account Clear Temp</label>
        <locationX>843</locationX>
        <locationY>548</locationY>
        <faultConnector>
            <targetReference>Set_Error_Text</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tracey_Bot_Virtual_Temp_StartDate__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Set_Temperature</name>
        <label>Update Account Set Temperature</label>
        <locationX>419</locationX>
        <locationY>654</locationY>
        <faultConnector>
            <targetReference>Set_Error_Text</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tracey_Bot_Virtual_Temp_StartDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Clear_Start</name>
        <label>Update Lead Clear Start</label>
        <locationX>1013</locationX>
        <locationY>611</locationY>
        <faultConnector>
            <targetReference>Set_Error_Text</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tracey_Bot_Virtual_Temp_StartDate__c</field>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Notifications</name>
        <label>Update Lead Notifications</label>
        <locationX>186</locationX>
        <locationY>626</locationY>
        <faultConnector>
            <targetReference>Set_Error_Text</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tracey_Bot_Enabled__c</field>
            <value>
                <elementReference>settingvalue</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Set_Temp_Start</name>
        <label>Update Lead Set Temp Start</label>
        <locationX>565</locationX>
        <locationY>659</locationY>
        <faultConnector>
            <targetReference>Set_Error_Text</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tracey_Bot_Virtual_Temp_StartDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_String_Setting_Val_True</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ErrorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>setting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SettingValString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>false</stringValue>
        </value>
    </variables>
    <variables>
        <name>settingvalue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
