force-app/main/default/flows/Tracey_Create_Contact_Encounter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Error</name>
        <label>Set Error</label>
        <locationX>496</locationX>
        <locationY>257</locationY>
        <assignmentItems>
            <assignToReference>ErrorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Tracey - Create Contact Encounter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tracey - Create Contact Encounter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Participant</name>
        <label>Add Participant</label>
        <locationX>271</locationX>
        <locationY>612</locationY>
        <faultConnector>
            <targetReference>Set_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactEncounterId</field>
            <value>
                <elementReference>EncounterID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>ContactEncounterParticipant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Encounter</name>
        <label>Create Contact Encounter</label>
        <locationX>262</locationX>
        <locationY>149</locationY>
        <assignRecordIdToReference>EncounterID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Contact_Encounter</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>EncounterDuration</field>
            <value>
                <elementReference>DurationMin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedParticipantCount</field>
            <value>
                <elementReference>EstParticipants</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>EncounterName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>StartTime</elementReference>
            </value>
        </inputAssignments>
        <object>ContactEncounter</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Encounter</name>
        <label>Get Contact Encounter</label>
        <locationX>275</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Participant</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EncounterID</elementReference>
            </value>
        </filters>
        <object>ContactEncounter</object>
        <outputReference>Encounter</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ActualParticipantCount</queriedFields>
        <queriedFields>Tracey_Location_Name__c</queriedFields>
        <queriedFields>Tracey_StartTime_String__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>EncounterDuration</queriedFields>
        <queriedFields>EstimatedParticipantCount</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Contact_Encounter</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>DurationMin</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Encounter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContactEncounter</objectType>
    </variables>
    <variables>
        <name>EncounterID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EncounterName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EstParticipants</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>StartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
