force-app/main/default/flows/Tracey_Enroll_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Error</name>
        <label>Assign Error</label>
        <locationX>349</locationX>
        <locationY>703</locationY>
        <assignmentItems>
            <assignToReference>OutcomeText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Outcome_Text</name>
        <label>Set Outcome Text</label>
        <locationX>614</locationX>
        <locationY>795</locationY>
        <assignmentItems>
            <assignToReference>OutcomeText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>consent granted</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Tracey - Enroll Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tracey - Enroll Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Care_Program_Enrollee</name>
        <label>Create Care Program Enrollee</label>
        <locationX>242</locationX>
        <locationY>263</locationY>
        <connector>
            <targetReference>Enroll_in_Notifications</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CareProgramId</field>
            <value>
                <elementReference>CareProgram.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Lead.Name</elementReference>
            </value>
        </inputAssignments>
        <object>CareProgramEnrollee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Enroll_in_Notifications</name>
        <label>Enroll in Notifications</label>
        <locationX>614</locationX>
        <locationY>584</locationY>
        <connector>
            <targetReference>Set_Outcome_Text</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tracey_Bot_Enabled__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>242</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Care_Program_Enrollee</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CareProgram</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CareProgram</objectType>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>OutcomeText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
