force-app/main/default/flows/Tracey_Enroll_Person_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Error</name>
        <label>Assign Error</label>
        <locationX>349</locationX>
        <locationY>703</locationY>
        <assignmentItems>
            <assignToReference>OutcomeText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Outcome_Text</name>
        <label>Set Outcome Text</label>
        <locationX>610</locationX>
        <locationY>707</locationY>
        <assignmentItems>
            <assignToReference>OutcomeText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>consent granted</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Tracey - Create Care Program Enrollee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tracey - Enroll Person Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Auth_Form_Consent</name>
        <label>Create Auth Form Consent</label>
        <locationX>190</locationX>
        <locationY>425</locationY>
        <connector>
            <targetReference>Create_Care_Program_Enrollee</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AuthorizationFormTextId</field>
            <value>
                <elementReference>Get_Auth_Form_Text.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsentCapturedDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsentCapturedSource</field>
            <value>
                <stringValue>Tracey Chatbot</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsentCapturedSourceType</field>
            <value>
                <stringValue>Social</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsentGiverId</field>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocumentVersionId</field>
            <value>
                <elementReference>Get_Content_Document.LatestPublishedVersionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Consent Form for Employee &quot;{!Account.Name}&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Seen</stringValue>
            </value>
        </inputAssignments>
        <object>AuthorizationFormConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Care_Program_Enrollee</name>
        <label>Create Care Program Enrollee</label>
        <locationX>408</locationX>
        <locationY>423</locationY>
        <connector>
            <targetReference>Create_Person_Life_Event</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CareProgramId</field>
            <value>
                <elementReference>CareProgram.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account.Name</elementReference>
            </value>
        </inputAssignments>
        <object>CareProgramEnrollee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Person_Life_Event</name>
        <label>Create Person Life Event</label>
        <locationX>601</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Enroll_in_Notifications</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>EventDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventType</field>
            <value>
                <elementReference>LifeEventType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Enrolled to {!CareProgram.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryPersonId</field>
            <value>
                <elementReference>Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>PersonLifeEvent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Auth_Form_Data_Use</name>
        <label>Get Auth Form Data Use</label>
        <locationX>419</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Auth_Form_Text</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <filters>
            <field>DataUsePurposeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Data_Use_Purpose.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AuthorizationFormDataUse</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AuthorizationFormId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Auth_Form_Text</name>
        <label>Get Auth Form Text</label>
        <locationX>242</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Content_Document</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <filters>
            <field>AuthorizationFormId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Auth_Form_Data_Use.AuthorizationFormId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AuthorizationFormText</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document</name>
        <label>Get Content Document</label>
        <locationX>50</locationX>
        <locationY>265</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Auth_Form_Consent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Auth_Form_Text.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LatestPublishedVersionId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Use_Purpose</name>
        <label>Get Data Use Purpose</label>
        <locationX>418</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Auth_Form_Data_Use</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <filters>
            <field>PurposeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CareProgram.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DataUsePurpose</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Enroll_in_Notifications</name>
        <label>Enroll in Notifications</label>
        <locationX>614</locationX>
        <locationY>584</locationY>
        <connector>
            <targetReference>Set_Outcome_Text</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tracey_Bot_Enabled__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>242</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Data_Use_Purpose</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CareProgram</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CareProgram</objectType>
    </variables>
    <variables>
        <name>LifeEventType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutcomeText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
