force-app/main/default/flows/Tracey_Get_Account_Settings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Notification_Status_Enabled</name>
        <label>Notification Status Enabled</label>
        <locationX>95</locationX>
        <locationY>569</locationY>
        <assignmentItems>
            <assignToReference>NotificationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enabled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Temp_Check_Enabled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Other_Vars</name>
        <label>Set Other Vars</label>
        <locationX>258</locationX>
        <locationY>989</locationY>
        <assignmentItems>
            <assignToReference>Temperature</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmTemp</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Temp_Status</name>
        <label>Set Temp Status</label>
        <locationX>85</locationX>
        <locationY>883</locationY>
        <assignmentItems>
            <assignToReference>TempStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FrmTempStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Other_Vars</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Or_Lead</name>
        <label>Account Or Lead</label>
        <locationX>341</locationX>
        <locationY>107</locationY>
        <defaultConnector>
            <targetReference>Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account</defaultConnectorLabel>
        <rules>
            <name>Is_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Is Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Notifications_Enabled</name>
        <label>Is Notifications Enabled</label>
        <locationX>263</locationX>
        <locationY>412</locationY>
        <defaultConnector>
            <targetReference>Is_Temp_Check_Enabled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Notifications Disabled</defaultConnectorLabel>
        <rules>
            <name>Enabled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Tracey_Bot_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Tracey_Bot_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_Status_Enabled</targetReference>
            </connector>
            <label>Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Temp_Check_Enabled</name>
        <label>Is Temp Check Enabled</label>
        <locationX>249</locationX>
        <locationY>680</locationY>
        <defaultConnector>
            <targetReference>Set_Other_Vars</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Temp Disabled</defaultConnectorLabel>
        <rules>
            <name>Temp_Enabled</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Tracey_Bot_Virtual_Temp_StartDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Tracey_Bot_Virtual_Temp_StartDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>TwoWeeksAgo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Tracey_Bot_Virtual_Temp_StartDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Tracey_Bot_Virtual_Temp_StartDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>TwoWeeksAgo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Temp_Status</targetReference>
            </connector>
            <label>Temp Enabled</label>
        </rules>
    </decisions>
    <formulas>
        <name>frmTemp</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Lead.Id}),
IF({!Get_Account.Tracey_Bot_Last_Temperature__c} &gt; 0, TEXT({!Get_Account.Tracey_Bot_Last_Temperature__c}) &amp; &quot;*F (last reading &quot; &amp; TEXT(DATEVALUE({!Get_Account.Tracey_Bot_Last_Temp_Date__c})) &amp; &quot;)&quot;, &quot;No Data Available&quot;)
,
IF({!Get_Lead.Tracey_Bot_Last_Temperature__c} &gt; 0, TEXT({!Get_Lead.Tracey_Bot_Last_Temperature__c}) &amp; &quot;*F (last reading &quot; &amp; TEXT(DATEVALUE({!Get_Lead.Tracey_Bot_Last_Temp_Date__c})) &amp; &quot;)&quot;, &quot;No Data Available&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>FrmTempStatus</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Lead.Id}),
&quot;Active (until &quot; &amp; TEXT(DATEVALUE({!Get_Account.Tracey_Bot_Virtual_Temp_StartDate__c}+14)) &amp; &quot;)&quot;
,
&quot;Active (until &quot; &amp; TEXT(DATEVALUE({!Get_Lead.Tracey_Bot_Virtual_Temp_StartDate__c}+14)) &amp; &quot;)&quot;
)</expression>
    </formulas>
    <formulas>
        <name>TwoWeeksAgo</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}-14</expression>
    </formulas>
    <interviewLabel>Tracey - Get Account Settings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tracey - Get Account Settings</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>271</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Notifications_Enabled</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>416</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Notifications_Enabled</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Account_Or_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>NotificationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Disabled</stringValue>
        </value>
    </variables>
    <variables>
        <name>Temperature</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TempStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Inactive</stringValue>
        </value>
    </variables>
</Flow>
