force-app/main/default/flows/Tracey_Virtual_Temperature_Check_Reminders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Lead_Notifications</name>
        <label>Send Lead Notifications</label>
        <locationX>97</locationX>
        <locationY>687</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <connector>
            <targetReference>For_Each_Lead</targetReference>
        </connector>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <stringValue>Text_US_18137558019</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>Tracey_Daily_Virtual_Temperature_Check_Message</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>Lead.Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Reminder</name>
        <label>Send Notification Reminder</label>
        <locationX>97</locationX>
        <locationY>240</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <connector>
            <targetReference>For_Each_Account</targetReference>
        </connector>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>Account.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <stringValue>Text_US_18137558019</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>Tracey_Daily_Virtual_Temperature_Check_Message</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>Account.PersonMobilePhone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>Account.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <formulas>
        <name>TwoWeeksAgo</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}-14</expression>
    </formulas>
    <interviewLabel>Tracey - Virtual Temperature Check Reminders {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Tracey - Virtual Temperature Check Reminders</label>
    <loops>
        <name>For_Each_Account</name>
        <label>For Each Account</label>
        <locationX>313</locationX>
        <locationY>240</locationY>
        <assignNextValueToReference>Account</assignNextValueToReference>
        <collectionReference>Get_All_Virtual_Temp_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Notification_Reminder</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Virtual_Temp_Leads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Lead</name>
        <label>For Each Lead</label>
        <locationX>313</locationX>
        <locationY>687</locationY>
        <assignNextValueToReference>Lead</assignNextValueToReference>
        <collectionReference>Get_All_Virtual_Temp_Leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Lead_Notifications</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Virtual_Temp_Accounts</name>
        <label>Get All Virtual Temp Accounts</label>
        <locationX>295</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Account</targetReference>
        </connector>
        <filters>
            <field>PersonMobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tracey_Bot_Enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tracey_Bot_Virtual_Temp_StartDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tracey_Bot_Virtual_Temp_StartDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TwoWeeksAgo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Virtual_Temp_Leads</name>
        <label>Get All Virtual Temp Leads</label>
        <locationX>312</locationX>
        <locationY>498</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Lead</targetReference>
        </connector>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tracey_Bot_Enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tracey_Bot_Virtual_Temp_StartDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TwoWeeksAgo</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tracey_Bot_Virtual_Temp_StartDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_Virtual_Temp_Accounts</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-07-16</startDate>
            <startTime>16:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
