force-app/main/default/flows/Tracey_Consent_Management_Query.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Error</name>
        <label>Assign Error</label>
        <locationX>114</locationX>
        <locationY>656</locationY>
        <assignmentItems>
            <assignToReference>Outcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Auth_Text</name>
        <label>Set Auth Text</label>
        <locationX>302</locationX>
        <locationY>1368</locationY>
        <assignmentItems>
            <assignToReference>AuthText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Auth_Form_Text.SummaryAuthFormText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Auth_Form_Consent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Consent_Missing</name>
        <label>Set Consent Missing</label>
        <locationX>720</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>Outcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>consent missing</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Enrollee_Exists</name>
        <label>Set Enrollee Exists</label>
        <locationX>554</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>Outcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>consent granted</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Lead</name>
        <label>Set Lead</label>
        <locationX>589</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>AcctLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Program_Enrollee_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_or_Lead</name>
        <label>Account or Lead</label>
        <locationX>370</locationX>
        <locationY>85</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Program_Enrollee_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>IsLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Care_Program_Enrollee_Exists</name>
        <label>If Care Program Enrollee Exists</label>
        <locationX>288</locationX>
        <locationY>560</locationY>
        <defaultConnector>
            <targetReference>Set_Enrollee_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Exist</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Program_Enrollee_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program_Enrollee_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Data_Use_Purpose</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Auth_Consent_Present</name>
        <label>Is Auth Consent Present?</label>
        <locationX>50</locationX>
        <locationY>1110</locationY>
        <defaultConnector>
            <targetReference>Get_Data_Use_Purpose</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Auth_Form_Consent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Consent_Missing</targetReference>
            </connector>
            <label>Not Present</label>
        </rules>
    </decisions>
    <formulas>
        <name>ConsentGiverId</name>
        <dataType>String</dataType>
        <expression>IF({!AcctLead} == &apos;Account&apos;,
{!Account.Id}
,
{!Lead.Id}
)</expression>
    </formulas>
    <interviewLabel>Tracey - Consent Management Query {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Tracey - Consent Management Query</label>
    <loops>
        <name>For_Each_Data_Use_Purpose</name>
        <label>For Each Data Use Purpose</label>
        <locationX>546</locationX>
        <locationY>1000</locationY>
        <assignNextValueToReference>DataUsePurpose</assignNextValueToReference>
        <collectionReference>Get_Data_Use_Purpose</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Authorization_Form_Data_Use</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Consent_Missing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Auth_Form_Consent</name>
        <label>Get Auth Form Consent</label>
        <locationX>210</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Auth_Consent_Present</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <filters>
            <field>AuthorizationFormTextId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Auth_Form_Text.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ConsentGiverId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsentGiverId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AuthorizationFormConsent</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Auth_Form_Text</name>
        <label>Get Auth Form Text</label>
        <locationX>405</locationX>
        <locationY>1213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Auth_Text</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <filters>
            <field>AuthorizationFormId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Authorization_Form_Data_Use.AuthorizationFormId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AuthorizationFormText</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Authorization_Form_Data_Use</name>
        <label>Get Authorization Form Data Use</label>
        <locationX>547</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Auth_Form_Text</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <filters>
            <field>DataUsePurposeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DataUsePurpose.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AuthorizationFormDataUse</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AuthorizationFormId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Use_Purpose</name>
        <label>Get Data Use Purpose</label>
        <locationX>296</locationX>
        <locationY>995</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Data_Use_Purpose</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <filters>
            <field>PurposeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CareProgram.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DataUsePurpose</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program_Enrollee_Account</name>
        <label>Get Program Enrollee Account</label>
        <locationX>266</locationX>
        <locationY>355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Care_Program_Enrollee_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CareProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CareProgram.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareProgramEnrollee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program_Enrollee_Lead</name>
        <label>Get Program Enrollee Lead</label>
        <locationX>479</locationX>
        <locationY>345</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Care_Program_Enrollee_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <filters>
            <field>CareProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CareProgram.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareProgramEnrollee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>151</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Account_or_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AcctLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </variables>
    <variables>
        <name>AuthText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CareProgram</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CareProgram</objectType>
    </variables>
    <variables>
        <name>DataUsePurpose</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DataUsePurpose</objectType>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Outcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>denied</stringValue>
        </value>
    </variables>
</Flow>
