force-app/main/default/flows/Tracey_Update_Health_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>IsSymptomatic</name>
        <label>Symptomatic</label>
        <locationX>748</locationX>
        <locationY>727</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Symptomatic</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactTrace</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_or_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Contact_Trace</name>
        <label>No Contact Trace</label>
        <locationX>1310</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>ContactTrace</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Not_Monitored</name>
        <label>Not Monitored</label>
        <locationX>745</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NotMonitored</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_or_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Positive_Test</name>
        <label>Positive Test</label>
        <locationX>746</locationX>
        <locationY>256</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PositiveTest</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactTrace</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_or_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error</name>
        <label>Set Error</label>
        <locationX>1332</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>ErrorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetExposed</name>
        <label>Exposed</label>
        <locationX>747</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exposed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactTrace</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_or_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_or_Lead</name>
        <label>Account or Lead</label>
        <locationX>1132</locationX>
        <locationY>484</locationY>
        <defaultConnector>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account</defaultConnectorLabel>
        <rules>
            <name>isLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsExposed</name>
        <label>Was Exposed?</label>
        <locationX>424</locationX>
        <locationY>461</locationY>
        <defaultConnector>
            <targetReference>Symptomatic</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dont Know</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Exposed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetExposed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsTested</name>
        <label>Is Tested?</label>
        <locationX>237</locationX>
        <locationY>263</locationY>
        <defaultConnector>
            <targetReference>Symptomatic</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>testedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tested</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Test_Outcome</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Changed</name>
        <label>Status Changed?</label>
        <locationX>1006</locationX>
        <locationY>146</locationY>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Contact.HealthCloudGA__StatusGroup__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_Group</targetReference>
            </connector>
            <label>Did Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Symptomatic</name>
        <label>Symptomatic</label>
        <locationX>237</locationX>
        <locationY>641</locationY>
        <defaultConnector>
            <targetReference>Not_Monitored</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Symptoms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Symptoms</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsSymptomatic</targetReference>
            </connector>
            <label>Has Symptoms</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_Outcome</name>
        <label>Test Outcome?</label>
        <locationX>423</locationX>
        <locationY>263</locationY>
        <defaultConnector>
            <targetReference>Not_Monitored</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Negative</defaultConnectorLabel>
        <rules>
            <name>Is_Positive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TestResult</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Positive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Positive_Test</targetReference>
            </connector>
            <label>Positive</label>
        </rules>
        <rules>
            <name>IsWaiting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TestResult</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsExposed</targetReference>
            </connector>
            <label>Waiting</label>
        </rules>
    </decisions>
    <interviewLabel>Tracey - Update {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Tracey - Update Health Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1014</locationX>
        <locationY>295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Changed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.PersonContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>1152</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>No_Contact_Trace</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HealthCloudGA__StatusGroup__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Group</name>
        <label>Update Status Group</label>
        <locationX>1297</locationX>
        <locationY>50</locationY>
        <faultConnector>
            <targetReference>Set_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HealthCloudGA__StatusGroup__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>114</locationY>
        <connector>
            <targetReference>IsTested</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ContactTrace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
    <variables>
        <name>ErrorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Exposed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Symptoms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tested</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
