force-app/main/default/flows/Tracey_Refresh_Contact_Encounter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Participants</name>
        <label>Get Participants</label>
        <locationX>369</locationX>
        <locationY>291</locationY>
        <actionName>Tracey_GetEncounterParticipants</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
        <inputParameters>
            <name>requests</name>
            <value>
                <elementReference>EncounterIn.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Accounts</assignToReference>
            <name>Accounts</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Leads</assignToReference>
            <name>Leads</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Dot</name>
        <label>Add Dot</label>
        <locationX>183</locationX>
        <locationY>916</locationY>
        <assignmentItems>
            <assignToReference>ParticipantString</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>...</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Lead_String</name>
        <label>Add Lead String</label>
        <locationX>542</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>ParticipantString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LeadString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Counter_Maxed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_OutputString</name>
        <label>Add OutputString</label>
        <locationX>240</locationX>
        <locationY>606</locationY>
        <assignmentItems>
            <assignToReference>ParticipantString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>frmParticipants</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Counter_Less_than_Max</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Description</name>
        <label>Assign Description</label>
        <locationX>876</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>EncounterOut.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParticipantString</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Counter_Less_than_Max</name>
        <label>Counter Less than Max?</label>
        <locationX>49</locationX>
        <locationY>639</locationY>
        <defaultConnector>
            <targetReference>Add_Dot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Max Reached</defaultConnectorLabel>
        <rules>
            <name>Keep_Going</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>maxParticipantsDisplay</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Accounts</targetReference>
            </connector>
            <label>Keep Going</label>
        </rules>
    </decisions>
    <decisions>
        <name>Counter_Maxed</name>
        <label>Counter Maxed?</label>
        <locationX>397</locationX>
        <locationY>722</locationY>
        <defaultConnector>
            <targetReference>Add_Dot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Maxed</defaultConnectorLabel>
        <rules>
            <name>lKeep_Going</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>maxParticipantsDisplay</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Leads</targetReference>
            </connector>
            <label>Keep Going</label>
        </rules>
    </decisions>
    <formulas>
        <name>frmParticipants</name>
        <dataType>String</dataType>
        <expression>{!Account.FirstName} &amp; &quot; &quot; &amp; {!Account.LastName}  &amp; &quot; - &quot; &amp; {!Account.PersonEmail} &amp; SUBSTITUTE({!ttBreak}, &quot;~&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>LeadString</name>
        <dataType>String</dataType>
        <expression>{!Lead.FirstName} &amp; &quot; &quot; &amp; {!Lead.LastName}  &amp; &quot; - &quot; &amp; {!Lead.Email} &amp; SUBSTITUTE({!ttBreak}, &quot;~&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Tracey - Refresh Contact Encounter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tracey - Refresh Contact Encounter</label>
    <loops>
        <name>Loop_Accounts</name>
        <label>Loop Accounts</label>
        <locationX>67</locationX>
        <locationY>401</locationY>
        <assignNextValueToReference>Account</assignNextValueToReference>
        <collectionReference>Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_OutputString</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Leads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Leads</name>
        <label>Loop Through Leads</label>
        <locationX>512</locationX>
        <locationY>461</locationY>
        <assignNextValueToReference>Lead</assignNextValueToReference>
        <collectionReference>Leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Lead_String</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Description</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Encounter</name>
        <label>Get Contact Encounter</label>
        <locationX>50</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Participants</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EncounterIn.Id</elementReference>
            </value>
        </filters>
        <object>ContactEncounter</object>
        <outputReference>EncounterOut</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ActualParticipantCount</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>EncounterDuration</queriedFields>
        <queriedFields>EstimatedParticipantCount</queriedFields>
        <queriedFields>LocationId</queriedFields>
        <queriedFields>StartTime</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Tracey_Location_Name__c</queriedFields>
        <queriedFields>Tracey_StartTime_String__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Contact_Encounter</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ttBreak</name>
        <text>~
~</text>
    </textTemplates>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EncounterIn</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactEncounter</objectType>
    </variables>
    <variables>
        <name>EncounterOut</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContactEncounter</objectType>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Leads</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>maxParticipantsDisplay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ParticipantString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
