force-app/main/default/flows/Tracey_Get_Person.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Chat</name>
        <label>Assign Chat</label>
        <locationX>555</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>strChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Transcript</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error</name>
        <label>Assign Error</label>
        <locationX>414</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>ErrorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Messaging</name>
        <label>Assign Messaging</label>
        <locationX>245</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>strChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Messaging_Session</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_CP</name>
        <label>No CP</label>
        <locationX>738</locationX>
        <locationY>40</locationY>
        <assignmentItems>
            <assignToReference>ErrorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no care program</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>No_Person_Found</name>
        <label>No Person Found</label>
        <locationX>787</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>ErrorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no person found</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Care_Program_Exists</name>
        <label>Care Program Exists</label>
        <locationX>376</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>No_CP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CP_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Care_Program</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Session_Channel</targetReference>
            </connector>
            <label>CP Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Session_Channel</name>
        <label>Check Session Channel</label>
        <locationX>544</locationX>
        <locationY>98</locationY>
        <defaultConnector>
            <targetReference>Assign_Chat</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Messaging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>routableID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0Mw</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Messaging</targetReference>
            </connector>
            <label>Messaging</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Person_Account</name>
        <label>Is Person Account?</label>
        <locationX>394</locationX>
        <locationY>714</locationY>
        <defaultConnector>
            <targetReference>Get_MEU</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead</defaultConnectorLabel>
        <rules>
            <name>Person_Account</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Person_Account</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_is_Null</name>
        <label>Lead is Null?</label>
        <locationX>780</locationX>
        <locationY>979</locationY>
        <defaultConnector>
            <targetReference>Get_Care_Program_Enrollee_L</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead is Not null</defaultConnectorLabel>
        <rules>
            <name>dLead_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Person_Found</targetReference>
            </connector>
            <label>Lead is Null</label>
        </rules>
    </decisions>
    <formulas>
        <name>frmPhone</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Get_MEU.Name}, LEN({!Get_MEU.Name}) -2)</expression>
    </formulas>
    <interviewLabel>Tracey - Get Person {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tracey - Get Person</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Contact_Tracing_Settings</name>
        <label>Contact Tracing Settings</label>
        <locationX>156</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Care_Program</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>emptracing__Contact_Tracing_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Care_Program</name>
        <label>Get Care Program</label>
        <locationX>264</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Care_Program_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Tracing_Settings.emptracing__CareProgram_Name__c</elementReference>
            </value>
        </filters>
        <object>CareProgram</object>
        <outputReference>CareProgram</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Care_Program_Enrollee_A</name>
        <label>Get Care Program Enrollee Account</label>
        <locationX>299</locationX>
        <locationY>1084</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>CareProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CareProgram.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareProgramEnrollee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Care_Program_Enrollee_L</name>
        <label>Get Care Program Enrollee L</label>
        <locationX>574</locationX>
        <locationY>1074</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <filters>
            <field>CareProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CareProgram.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareProgramEnrollee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>574</locationX>
        <locationY>927</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_is_Null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmPhone</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>HealthCloudGA__StatusGroup__c</queriedFields>
        <queriedFields>HealthCloudGA__Diagnosis__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_Session</name>
        <label>Get Messaging Session</label>
        <locationX>245</locationX>
        <locationY>543</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Person_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>routableID</elementReference>
            </value>
        </filters>
        <object>MessagingSession</object>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>EndUserAccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>EndUserContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadId</assignToReference>
            <field>LeadId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MessagingEndUserId</assignToReference>
            <field>MessagingEndUserId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_MEU</name>
        <label>Get MEU</label>
        <locationX>628</locationX>
        <locationY>776</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MessagingEndUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account</name>
        <label>Get Person Account</label>
        <locationX>291</locationX>
        <locationY>838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Care_Program_Enrollee_A</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>HealthCloudGA__StatusGroup__pc</queriedFields>
        <queriedFields>HealthCloudGA__Testing_Status__pc</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Transcript</name>
        <label>Get Transcript</label>
        <locationX>554</locationX>
        <locationY>519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Person_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>routableID</elementReference>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadId</assignToReference>
            <field>LeadId</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Contact_Tracing_Settings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CareProgram</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CareProgram</objectType>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>ok</stringValue>
        </value>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessagingEndUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>routableID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
