force-app/main/default/flows/Tracey_Get_Contact_Encounters.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_encounters</name>
        <label>Get encounters</label>
        <locationX>214</locationX>
        <locationY>742</locationY>
        <actionName>Tracey_EncounterQuery</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Set_Error</targetReference>
        </faultConnector>
        <inputParameters>
            <name>requests</name>
            <value>
                <elementReference>EncounterIds</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Encounters</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Encounter</name>
        <label>Add Encounter</label>
        <locationX>313</locationX>
        <locationY>640</locationY>
        <assignmentItems>
            <assignToReference>EncounterIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EncounterParticipant.ContactEncounterId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Maximum_Reached</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error</name>
        <label>Set Error</label>
        <locationX>606</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>ErrorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Maximum_Reached</name>
        <label>Maximum Reached?</label>
        <locationX>97</locationX>
        <locationY>541</locationY>
        <defaultConnector>
            <targetReference>Get_encounters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Maximum</defaultConnectorLabel>
        <rules>
            <name>Not_reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>maxEncounters</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Each_Participant</targetReference>
            </connector>
            <label>Not reached</label>
        </rules>
    </decisions>
    <interviewLabel>Tracey - Get Contact Encounters {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tracey - Get Contact Encounters</label>
    <loops>
        <name>For_Each_Participant</name>
        <label>For Each Participant</label>
        <locationX>312</locationX>
        <locationY>441</locationY>
        <assignNextValueToReference>EncounterParticipant</assignNextValueToReference>
        <collectionReference>Get_Encounter_Participants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Encounter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_encounters</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Encounter_Participants</name>
        <label>Get Encounter Participants</label>
        <locationX>271</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Participant</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error</targetReference>
        </faultConnector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.PersonContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactEncounterParticipant</object>
        <sortField>StartTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Encounter_Participants</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EncounterIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EncounterParticipant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactEncounterParticipant</objectType>
    </variables>
    <variables>
        <name>Encounters</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContactEncounter</objectType>
    </variables>
    <variables>
        <name>ErrorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>maxEncounters</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </variables>
</Flow>
