force-app/main/default/flows/Tracey_Add_Lead_Encounter_Participant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_ErrorText</name>
        <label>Set ErrorText</label>
        <locationX>482</locationX>
        <locationY>159</locationY>
        <assignmentItems>
            <assignToReference>ErrorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Tracey - Add Lead Encounter Participant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tracey - Add Lead Encounter Participant</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Encounter_Participant</name>
        <label>Create Contact Encounter Participant</label>
        <locationX>246</locationX>
        <locationY>270</locationY>
        <faultConnector>
            <targetReference>Set_ErrorText</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactEncounterId</field>
            <value>
                <elementReference>Encounter.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tracey_Bot_Notify__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ContactEncounterParticipant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Contact_Encounter_Participant</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Encounter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactEncounter</objectType>
    </variables>
    <variables>
        <name>ErrorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
