force-app/main/default/flows/Tracey_Set_Temperature.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Error_Text</name>
        <label>Set Error Text</label>
        <locationX>581</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>ErrorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Account_or_Lead</name>
        <label>Account or Lead</label>
        <locationX>42</locationX>
        <locationY>233</locationY>
        <defaultConnector>
            <targetReference>Set_Person_Temperature</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account</defaultConnectorLabel>
        <rules>
            <name>IsLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Set_Temp</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <interviewLabel>Tracey - Set Temperature {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tracey - Set Temperature</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Person_Temperature</name>
        <label>Set Person Temperature</label>
        <locationX>321</locationX>
        <locationY>237</locationY>
        <faultConnector>
            <targetReference>Set_Error_Text</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tracey_Bot_Last_Temp_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tracey_Bot_Last_Temperature__c</field>
            <value>
                <elementReference>Temperature</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Set_Temp</name>
        <label>Update Lead Set Temp</label>
        <locationX>325</locationX>
        <locationY>411</locationY>
        <faultConnector>
            <targetReference>Set_Error_Text</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tracey_Bot_Last_Temp_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tracey_Bot_Last_Temperature__c</field>
            <value>
                <elementReference>Temperature</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Account_or_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ErrorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Temperature</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
